@font-face {
    font-family: 'roboto';
    src: url('./font/Roboto-Black.ttf');
}
body{
    padding: auto;
    margin: 0;
    width: 1900px;
}
.header .on {
    display: flex;
    justify-content: end;
    background-color:#D9D9D9;
    height: 40px;
    line-height: 10px;
}
.header .on .a{
    padding-right: 900px;
}
.header .on .b{
    padding-right: 100px;
    display: flex;
    gap: 40px;
    padding-top: 15px;
}
.header .on .b a{
    text-decoration: none;
    color: black;
}
.header .on .b a:hover{
    color: brown;
}
.header .under {
    display: flex;
    justify-content:space-between;
}
.header .under ul {
    display: flex;
    gap: 40px;
    line-height: 60px;
}
.header .under .logo{
    padding-top: 15px;
}
.header .under ul li a{
    text-decoration: none;
    color: black;
}
.header .under .icon{
    padding-top: 20px;
    padding-right: 50px;
    gap: 40px;
}
.header .under ul li a:hover{
    color: brown;
    font-weight: bold;
}
.main .content{
    display: flex;
}
.main .content .item-1{
    padding-left: 20px;
}
.main .content .item-1 p a{
    text-decoration: none;
    color: rgb(118, 120, 122);
    font-weight: bold;

}
.main .content .item-1 p a:hover{
    color: rgb(230, 52, 52);
}
.main .content .item-2{
    padding-left: 300px;
}
.main .content .item-2 .noidung{
    display: flex;
    gap: 30px;
    padding-top: 100px;
    
}
.main .content .item-2 .noidung p{
    text-align: center;
    
}
.main .content .item-2 .noidung .item-img .block{
    box-shadow: 0px 4px 3px 3px #D9D9D9 ;
    width: 250px;
}
p{
    font-family: 'roboto';
}
a{
    font-family: 'roboto';
}
h3{
    font-family: 'roboto';
}
footer{
    border: 0.5px solid #D9D9D9;
    display: flex;
    margin-top: 50px;
}
footer .logo-1 img{
    /* border: 1px solid black; */
    width: 200px;
    height: 150px;
    margin-top: 60px;  
    margin-left: 50px;
    margin-right: 90px;
    margin-bottom: 60px;
}
footer .nd1{
    /* border: 1px solid black; */
    margin-top: 85px;
    margin-left: 100px;
}
footer .nd1 p{
    margin-bottom: 10px;
    padding: 10px;
}
footer .nd2{
    /* border: 1px solid black; */
    margin-top: 40px;
    margin-left: 100px;
    padding: 20px;
}
footer .nd2 h4{
    text-align: center;
    margin-bottom: 20px;
}
footer .nd2 p{
    margin-bottom: 20px;

}



