*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-family: 'Inter' , sans-serif;
}
h1{
    font-size: 50px;
    margin-bottom: 50px;
}
form{
    max-width: 800px;
    
}
.inp{
    line-height: 70px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}
.inp label{
    font-size: 28px;

    
}
.inp input{
    display: inline;
    width: 500px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid  ;
    box-shadow: 1px 2px 5px 3px #D9D9D9 ;
}
form button{
    background-color: #D9D9D9 ;
    color: #000000;
    width: 200px;
    height: 60px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 2px 5px 1px #8a8888 ;
    margin: 1rem auto;
    font-size: 38px;
}
