* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tong {
    margin: 0 auto;
    max-width: 1440px;
    margin-top: 140px;
    font-family: 'Inter' , sans-serif;
}

header {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 80px;
}

h1 {
    font-size: 50px;
    margin-right: 20px;
}

header>a {
    color: #BFBDBD;
    text-decoration: none;
    margin-top: 30px;
}

form {
    text-align: center;
    max-width: 730px;
    margin-top: 75px;
    margin-left: 340px;
}

label {
    font-size: 28px;
    width: 200px;
    height: 50px;
}

input {
    border-radius: 20px;
    box-shadow: 3px 3px 5px 3px #D9D9D9;
    border: none;
    height: 50px;
    width: 500px;
    
}

.input1 {
    margin-bottom: 50px;
}

.input {
    display: flex;
}

.input2 {
    margin-bottom: 20px;
}

form>a {
    color: #BFBDBD;
    text-decoration: none;
    margin-right: 170px;
}

form>button {
    margin-top: 50px;
    width: 200px;
    height: 60px;
    border-radius: 20px;
    box-shadow: 5px 3px 5px 3px #D9D9D9;
    border: none;
    font-size: 28px;
    font-weight: bolder;
    font-weight: lighter;

}