@font-face {
    font-family: 'roboto';
    src: url('./font/Roboto-BoldItalic.ttf');
}
*{
    margin: 0px;
    margin: 0px;
}
.container{
    padding: auto;
    margin-left: 40px;
    font-family: 'roboto';
}
header .menu-1{
    display: flex;
    height: 60px;   
    background-color: #D9D9D9;
    font-size: 13px;
}
header .menu-1 p{
    margin-left: 20px;
    margin-top: 20px;
}
.dangky > a{
    text-decoration: none;
}
.dangnhap > a{
    text-decoration: none;
}
header .menu-1 .dangky{
    margin-left: 960px;
    margin-top: 20px;   
}

header .menu-1 .dangnhap{
    margin-left: 20px;
    margin-top: 20px;
}
header .menu-2{
    height: 100px;
    display: flex;
}
header .menu-2 .logo img{
    width: 140px;
    height: 100px;
    margin-left: 40px;
    margin-right: 240px
}
header .menu-2 ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-top: 40px;
}
header .menu-2 ul li a{
    text-decoration: none;
    margin-left: 50px;
    font-size: 20px;
    color: black;
    -webkit-transition-duration: 0.5s; 
    /* Safari */  
    transition-duration: 0.5s;
}
header .menu-2 ul li a:hover{
    color: red;
    font-size: 25px;
}
header .timkiem{
    margin-top: 35px;
    margin-left: 230px;
}
header .timkiem img{
    width: 30px;
}
header .giohang{
    margin-top: 35px;
    margin-left: 20px;
    
}
header .giohang img{
    width: 30px;
}
h1{
    margin-left: 170px;
    margin-top: 40px;
    margin-bottom: 50px;
}
.pr{
    border: 1px solid black;
    display: flex;
    height: 80px;
    width: 1100px;
    margin-left: 170px;
    
}
.pr .w1{
    width: 30px;
    height: 30px;
    border: 1px solid rgb(216, 215, 215);
    background: rgb(216, 215, 215);
    margin-right: 10px;
    margin-left: 80px;
    margin-top: 22px;
}
.pr p{
    margin-left: 25px;
    font-size: 22px;
}
.pr .w11{
    margin-top: 25px;
}
.pr .w111{
    margin-top: 25px;
    margin-left: 280px;
}
.pr .w1111{
    margin-top: 25px;
    margin-left: 280px;
}
.ww{
    display: flex;
}
.pro{
    margin-top: 100px;
    width: 1100px;
    margin-left: 170px;
}
.one{
    display: flex;
    border: 1px solid black;
    background: rgb(228, 227, 227);
    border: rgb(228, 227, 227);
    width: 1100px;
    margin-left: 170px;
    margin-top: 100px;
    
}
.aa{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    
}
.aa p{
    font-size: 24px;
    margin-right: 300px;
    margin-left: 20px;
    margin-top: 15px;
}
.aa h2{
    font-size: 24px;
    margin-right: 300px;
    margin-left: 20px;
    margin-top: 15px;
    color: red;
}
.ab{
    display: flex;
}
.ww{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 18px;
}
.as{
    margin-left: 100px;
}
.delete{
    margin-top: 35px;

}
.xoa{
    width: 25px;
    height: 25px;
    background: rgb(255, 253, 253);
    margin-top: 10px;
}
.font{
    margin-left: 550px;
    font-size: 15px;
}
.pro{
    border: 1px solid gray;
    display: flex;
    font-size: 20px;
    background: #D9D9D9;
    border: #D9D9D9;
    
}
.w1a{
    width: 30px;
    height: 30px;
    background: rgb(253, 253, 253);
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 60px;

}
.wb{

    margin-top: 30px;
    margin-left: 30px;
    
}
.pro p{
    margin-right: 550px;
}
.pro button{
    margin-top: 27px;
    height: 35px;
    width: 120px;
    margin-left: 10px;
    background: #F6B7B7;
    border: #F6B7B7;
    border-radius: 5px;
}
.pro button:hover{
    background: red;
    color: aliceblue;
    font-weight: bolder;
}
footer{
    border: 0.5px solid #D9D9D9;
    display: flex;
    margin-top: 50px;
}
footer .logo-1 img{
    /* border: 1px solid black; */
    width: 200px;
    height: 150px;
    margin-top: 60px;  
    margin-left: 50px;
    margin-right: 90px;
    margin-bottom: 60px;
}
footer .nd1{
    /* border: 1px solid black; */
    margin-top: 85px;
    margin-left: 100px;
}
footer .nd1 p{
    margin-bottom: 10px;
    padding: 10px;
}
footer .nd2{
    /* border: 1px solid black; */
    margin-top: 40px;
    margin-left: 100px;
    padding: 20px;
}
footer .nd2 h4{
    text-align: center;
    margin-bottom: 20px;
}
footer .nd2 p{
    margin-bottom: 20px;
}