@font-face {
    font-family: 'roboto';
    src: url('./font/Roboto-BoldItalic.ttf');
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    width: 1440px;
}
.container{
    width: 1440px;
    margin-left: 40px;
    font-family: 'roboto';
}
header .menu-1{
    display: flex;
    height: 60px;   
    background-color: #D9D9D9;
    font-size: 13px;
}
header .menu-1 p{
    margin-left: 20px;
    margin-top: 20px;
}
.dangky > a{
    text-decoration: none;
}
.dangnhap > a{
    text-decoration: none;
}
header .menu-1 .dangky{
    margin-left: 960px;   
}

header .menu-1 .dangnhap{
    margin-left: 20px;
}
header .menu-2{
    height: 100px;
    display: flex;
}
header .menu-2 .logo img{
    width: 140px;
    height: 100px;
    margin-left: 40px;
    margin-right: 240px
}
header .menu-2 ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-top: 40px;
}
header .menu-2 ul li a{
    text-decoration: none;
    margin-left: 30px;
    font-size: 20px;
    color: black;
    -webkit-transition-duration: 0.5s; 
    /* Safari */  
    transition-duration: 0.5s;
}
header .menu-2 ul li a:hover{
    color: red;
    font-size: 25px;
}
header .timkiem{
    margin-top: 35px;
    margin-left: 230px;
}
header .timkiem input{
    margin-top: 7px;
    width: 150px;
}
header .giohang{
    margin-top: 35px;
    margin-left: 20px;
}
header .giohang img{
    width: 30px;
}
.banner .slide{
    display: none;
}
.dangky{
    margin-top: 20px;
}
.dangnhap{
    margin-top: 20px;
}
h2{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 40px;
}
h2:hover{
    color: red;
}
.w13 img{
    text-align: center;
    margin-left: 40px;
    width: 250px;
    height: 200px;
}
.noidung1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;;
    margin-top: 30px;
}
main .noidung1 .w13 p{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
}
main .noidung1 .w13 h3{
    color: red;
    margin-top: 5px;
    margin-left: 60px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    font-size: 16px;
}
main .noidung1 .w13 del{
    color: black;
    font-size: 12px;
}
main .noidung1 .w13 .block{
    box-shadow: 0px 4px 3px 3px #D9D9D9 ;
    border: 1px;
    margin-left: 40px;
    margin-bottom: 50px;
    width: 250px;
    height: 70px;
}
footer{
    border: 0.5px solid #D9D9D9;
    display: flex;
    margin-top: 50px;
}
footer .logo-1 img{
    width: 200px;
    height: 150px;
    margin-top: 60px;  
    margin-left: 50px;
    margin-right: 90px;
    margin-bottom: 60px;
}
footer .nd1{
    margin-top: 85px;
    margin-left: 100px;
}
footer .nd1 p{
    margin-bottom: 10px;
    padding: 10px;
}
footer .nd2{
    margin-top: 40px;
    margin-left: 100px;
    padding: 20px;
}
footer .nd2 h4{
    text-align: center;
    margin-bottom: 20px;
}
footer .nd2 p{
    margin-bottom: 20px;
}