@font-face {
    font-family: 'roboto';
    src: url('./font/Roboto-Black.ttf');
}
body{
    padding: auto;
    margin: 0;
    width: 1440px;
    font-family: roboto;
}
.header .p{
    background-color: #D9D9D9;
    height: 70px;
    line-height: 70px;
    padding-left: 30px;
}
.header .menu{
    background-color: #D9D9D9;
    height: 60px;
    line-height: 60px;
}
.header .menu ul {
    display: flex;
    
}
.header .menu ul li a{
    text-decoration: none;
    color: black;
    padding: 0 20px;
}
.header .menu ul li a:hover{
    color: brown;
}
.main .h1{
    height: 90px;
    background-color: #D9D9D9;
    margin-top: 30px;
    line-height: 90px;
    border-radius: 10px;
    padding-left: 30px;
}
.main .content-1{
    padding: 30px 20px;

}
.main .content-1 input{
  border-radius: 20px;
  height: 30px;
  width: 500px;
}
.main .content-2{
    padding: 30px 20px;

}
.main .content-3{
    padding-left: 20px;
}
.main .content-3 button{
    border-radius: 10px;
}