* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;

}

header .admin h1 {
    font-size: 35px;
    font-weight: bold;
    margin-left: 40px;

}

header .admin {
    height: 75px;
    background-color: #D9D9D9;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

header .menu {
    height: 60px;
    background-color: #D9D9D9;
    margin-bottom: 30px;
}

header .menu ul {
    height: 60px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 75px;
}

header .menu ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 25px;
    font-weight: bold;
}

main .them_moi_san_pham {
    height: 100px;
    background-color: #D9D9D9;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

main .them_moi_san_pham h1 {
    font-size: 30px;
    font-weight: lighter;
    margin-left: 50px;
}

main form .danh_muc p {
    font-size: 20px;
    font-weight: lighter;
    margin-left: 50px;
    margin-bottom: 30px;
}

main form .danh_muc input {
    width: 1440px;
    height: 40px;
    border-radius: 20px;
    background-color: #D9D9D9;
    border: none;
    padding-left: 30px;
    display: flex;
    margin-bottom: 30px;
}

main form .danh_muc input::placeholder {
    color: #000000;
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;

}

.san_pham p {
    font-size: 20px;
    font-weight: lighter;
    margin-left: 50px;
    margin-bottom: 30px;
}

.san_pham input {
    width: 1440px;
    height: 40px;
    border-radius: 20px;
    background-color: #D9D9D9;
    border: none;
    padding-left: 30px;
    display: flex;
    margin-bottom: 30px;
}

.san_pham input::placeholder {
    color: #000000;
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;

}

.san_pham1 {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    margin-bottom: 100px;
}

.san_pham1 p {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 18px;
}

.anh_san_pham {
    display: flex;
    gap: 50px;
}

.anh_san_pham input {
    width: 250px;
    height: 250px;
}

.mo_ta_san_pham input {
    padding-right: 700px;
    padding-bottom: 190px;
    /* width: 810px;
    height: 210px; */
    background-color: #D9D9D9;
    border: none;
}

form button {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 30px;
    float: left;
    margin-right: 30px;
}

form a {
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
}

form .danh_sach_san_pham {
    width: 245px;
    height: 40px;
    background-color: #D9D9D9;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}